// WiFi to connect to
#define WLAN_SSID "WiFi SSID"
#define WLAN_PASSWD "WiFi Password"

// IP configuration. Pay attention! These are commas and not dots
#define IP_ADDRESS 10, 0, 0, 7
#define IP_SUBNET 255, 255, 255, 0
#define IP_GATEWAY 10, 10, 0, 1
#define IP_DNS 10, 0, 0, 1

// MQTT Settings
#define MQTT_DEVICE_NAME "pool_sensor"
#define MQTT_SERV_IP "10.0.0.2"
#define MQTT_PORT 1883
#define MQTT_TEMP_TOPIC "/pool/temp/"
#define MQTT_USE_AUTH false  // Valid values are true or false (case sensetive)
#define MQTT_USERNAME ""
#define MQTT_PASSWORD ""

// Sleep settings
#define SLEEP_TIME 3600*1e6  // Default is 3600*1e6 which is 1 hour

// Pin definitions. There should not be a need to change these if using the PCB in this repository
#define DS18B20_FET_PIN 4
#define DS18B20_PIN 5